.swiper {
  width: 100%;
  padding: 80px 0 150px 0;
  overflow: visible;
}
.swiper-slide {
  display: flex;
  justify-content: center;
  opacity: 0.9;
}
.swiper .swiper-slide-active {
  opacity: 1;
  transition: all 0.2s ease-in-out;
}
.swiper-button-next,
.swiper-button-prev {
  border-radius: 35px;
  color: #ac17b0;
  width: 34px;
  height: 34px;
  box-shadow: 0px 3px 6px #0000004d;
  z-index: 500;
  background-color: white;
}
.swiper-button-prev::after {
  font-size: 13px;
  font-weight: 700;
}
.swiper-button-next::after {
  font-size: 13px;
  font-weight: 700;
}

.swiper-button-next,
.swiper-container-rtl .swiper-button-prev {
  right: -4px;
}
.swiper-button-prev,
.swiper-container-rtl .swiper-button-next {
  left: -4px;
}
.swiper-pagination-bullet {
  width: 32px;
  height: 9px;
  background-color: #c0bdbd;
  border-radius: 2px;
}

.swiper-pagination-bullet-active {
  background-color: #ac17b0;
}

@media (min-width: 425px) {
  .swiper-button-next,
  .swiper-container-rtl .swiper-button-prev {
    right: 7px;
  }
  .swiper-button-prev,
  .swiper-container-rtl .swiper-button-next {
    left: 7px;
  }
}
@media (min-width: 1024px) {
  .swiper-slide {
    opacity: 1;
  }
}
@media (min-width: 1280px) {
  .swiper {
    overflow: hidden;
    margin: 20px 0;
    padding: 100px 10px 180px 10px;
  }

  .swiper .swiper-slide-active {
    opacity: 1;
    transform: scale(1.08);
    transition: all 0.3s ease-in-out;
  }
}
